/* Reseting browser configs */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-image: url(./assets/img/main.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  
  background-color: black;
  color: white;
  text-align: center;
  font-family: sans-serif; 
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(ellipse at center, #ffffff00 45%, #000000 75%);
  opacity: 1;
  z-index: -1;
}

.background::after {
  content:"";
  position: absolute;
  width:200vw;
  height: 200vh;
  left: -50%;
  top: -50%;
  opacity: 0.4;
  background-image: url(./assets/img/pattern.png);
}

.background::after {
  animation:grain 15s steps(10) infinite;
}

  @keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}


#container {
  margin-top: 100px;
  width: 80%;
  max-width: 400px;
  margin-inline: auto;
}

h1 {
  margin-top: 40px;
  margin-bottom: 10px;
  opacity: 0.85;
}

p {
  margin-bottom: 40px;
  opacity: 0.7;
}

input {
  display: inline-block;
  width: 70%;
  padding: 20px;
  font-size: 20px;
  border-radius: 4px;
}

button {
  display: inline-block;
  width: 20%;
  padding: 20px;
  font-size: 20px;
  border-radius: 4px;
}

input {
  margin-bottom: 80px;
}

button {
  border: none;
  background-color: rgb(85, 8, 158);
  color: white;
  transition: filter .2s;
}

button:hover {
  filter: brightness(1.15);
  cursor: pointer;
}


#answer {
  margin-top: 40px;
  transition: opacity 1.8s;
}

#answer div {
  font-size: 16px;
  font-weight: normal;
  opacity: 0.9;
  margin-bottom: 10px;
}

.center {
  position: absolute;
  margin: auto;
  top: 0; bottom: 0;
  left: 0; right: 0;
}

.glow {
  top: -100px;
  width: 0px;
  height: 0px;  
  border-radius: 50%;
  color: rgb(98, 10, 222);
  box-shadow: 0 0 150px 50px;
  animation: glow 1.2s linear infinite alternate;
}

@keyframes glow {
  to{
    box-shadow: 0 0 120px 50px;
  }
}