/* Reseting browser configs */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-image: url(./assets/img/main.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  
  background-color: black;
  color: white;
  text-align: center;
  font-family: sans-serif; 
  font: 600 22px Oswald;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(ellipse at center, #ffffff00 45%, #000000 75%);
  opacity: 1;
  z-index: -5;
}

.background::after {
  content:"";
  position: absolute;
  width:200vw;
  height: 200vh;
  left: -50%;
  top: -50%;
  opacity: 0.4;
  background-image: url(./assets/img/pattern.png);
}

.background::after {
  animation:grain 15s steps(10) infinite;
}

  @keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}


#container {
  margin-top: 100px;
  width: 80%;
  max-width: 400px;
  margin-inline: auto;
}

h1 {
  margin-top: 40px;
  margin-bottom: 10px;
  opacity: 0.85;
}

p {
  margin-bottom: 40px;
  opacity: 0.7;
  font: 400 18px Oswald;
}

input {
  display: inline-block;
  width: 70%;
  padding: 20px;
  border-radius: 4px;
  font: 400 20px Oswald;
  background-color: rgba(35, 8, 69, 0.363);
  border: none;
  color: rgb(168, 97, 255);
}

button {
  display: inline-block;
  width: 20%;
  padding: 20px;
  border-radius: 4px;
  font: 400 20px Oswald;
  opacity: 0.8;
}

input {
  margin-bottom: 80px;
  caret-color: rgb(168, 97, 255);
}

input:focus {
  outline: none;
}

button {
  border: none;
  background-color: rgba(32, 7, 64, 0.892);
  color: rgb(175, 115, 249);
}

button:hover {
  filter: brightness(280%);
  cursor: pointer;
}

#askButton, #inputQuestion {
  opacity: 1;
  transition: opacity 1.5s;
}

#askButton.hide, #inputQuestion.hide {
  opacity: 0;
  transition: opacity 0.4s;
}

#inputQuestion {
  box-shadow: 0 0 0 transparent;
  transition: box-shadow 0.5s;
}

#inputQuestion.error {
  animation: shake 0.12s ease-in-out 0s 2;
  box-shadow: 0 0 0.5em rgba(116, 11, 253, 0.818);
}

@keyframes shake {
  0% { margin-left: 0rem; }
  25% { margin-left: 0.5rem; }
  75% { margin-left: -0.5rem; }
  100% { margin-left: 0rem; }
}


.center {
  position: absolute;
  margin: auto;
  top: 0; 
  bottom: 0;
  left: 0; 
  right: 0;
}

.glow {
  top: -100px;
  width: 0px;
  height: 0px;  
  border-radius: 50%;
  color: rgb(100, 12, 223);
  box-shadow: 0 0 150px 65px;
  animation: glow 1.2s linear infinite alternate;
}

@keyframes glow {
  to{
    box-shadow: 0 0 100px 50px;
  }
}

#triangle {
  -webkit-transform: translateY(-10%) rotate(15deg);
  transform: translateY(-10%) rotate(15deg);
	width: 0px; 
	height: 0px;
	border-left: 110px solid transparent;
	border-right: 110px solid transparent;
	border-top: 180px solid rgba(60,10,120,0.0);
  opacity: 0;
  transition: ease-in all 0.21s;
}

#triangle.show {
  border-top: 180px solid rgba(60,10,120,0.9);
  -webkit-transform: translateY(-10%) rotate(0deg);
  transform: translateY(-10%) rotate(0deg);
  opacity: 1;
  transition: ease-in all 0.21s;
}

#answer {
  font: 400 18px Oswald;
  text-align: center;
  line-height: 1.1;
  -webkit-transform: translate(150%, 0%) rotate(15deg);
  transform: translate(150%, 0%)  rotate(15deg);
  text-transform: uppercase;
	width: 96px; 
	height: 100px;
  opacity: 0;
  transition: ease-in all 0.2s;
}

#answer.show {
  opacity: 1;
  color: rgba(240,220,240,0.8);
  -webkit-transform:  translate(156%, 0%) rotate(0deg);
  transform:  translate(156%, 0%) rotate(0deg);
  transition: ease-in all 0.2s;
  z-index: 2;
  position: fixed;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px;
  font: 200 22px Oswald;
  color: rgb(81, 15, 202);
  text-align: center;
}

footer:hover {
  filter: brightness(130%);
  cursor: pointer;
}

footer img{
  max-height: 25px;
}

.sound {
  color:rgb(58, 7, 135);
  opacity:1;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 20px;
}

.sound i:hover {
  filter: brightness(120%);
  cursor: pointer;
}